---
import ContinueReading from "./ProjectContinueReading.astro";

const { project, Content } = Astro.props;
---

<article>
  <a href={`/projects/${project.frontmatter.slug}`}
    ><img class="project__image" src={project.frontmatter.image} alt="" />
  </a>
  <section class="project-content">
    <h2>
      <a href={`/projects/${project.frontmatter.slug}`}
        >{project.frontmatter.title}</a
      >
    </h2>

    <ul class="project__links">
      {
        project.frontmatter.homepage && (
          <li>
            <img src="/icons/www.svg" alt="" class="project__icon" />
            <a href={project.frontmatter.homepage}>Homepage</a>
          </li>
        )
      }

      {
        project.frontmatter.repository && (
          <li>
            <img src="/icons/github.svg" alt="" class="project__icon" />
            <a href={project.frontmatter.repository}>Repository</a>
          </li>
        )
      }
    </ul>
    {project.frontmatter.excerpt}
    <ContinueReading link={`/projects/${project.frontmatter.slug}`} />
  </section>
</article>

<style>
  article {
    background-color: var(--color-black-lighter);
    border-radius: 0.3rem;
  }
  article > a {
    width: 100%;
    display: block;
    padding: 0;
    margin: 0;
  }

  article:hover {
    box-shadow: 0.3rem 0.3rem var(--color-primary);
  }
  article:hover .project__image {
    filter: grayscale(0%);
  }

  .project-content {
    padding: 1rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  h2 > a {
    color: var(--color-headings);
  }

  h2 > a:hover {
    color: var(--color-headings);
    text-decoration: underline;
    text-decoration-color: var(--color-secondary);
  }
  .project__links {
    padding-left: 0;
    list-style-type: none;
  }
  .project__links li {
    padding-left: 0px;
  }

  .project__links .project__icon {
    fill: var(--color-secondary);
    margin-right: 10px;
    padding: 1px;
    stroke: var(--color-secondary);
    vertical-align: middle;
    width: 1.5rem;
  }

  .project__image {
    display: block;
    border-radius: 0.3rem 0.3rem 0 0;

    filter: grayscale(50%);
    width: 100%;
  }
</style>
