---
const maxPosts = 5;
import { generateTagHash, TagHashResults } from "../snippets/tags";
const posts = await Astro.glob("../content/posts/*mdx");

const nonDraftPosts = posts.filter((post) => !post.frontmatter.draft);

const tagsArray: string[][] = nonDraftPosts.map(
  (item) => item.frontmatter.tags
);

const tagResults: TagHashResults = generateTagHash(tagsArray);

const tagArray = [];

for (const key in tagResults) {
  tagArray.push({ name: key, count: tagResults[key] });
}

tagArray.sort((a, b) => {
  if (a.name < b.name) return -1;
  if (a.name > b.name) return 1;
  return 0;
});

function outputDate(pubDate: string) {
  return new Date(pubDate).toLocaleDateString([], {
    year: "numeric",
    month: "short",
    day: "numeric",
    weekday: "short",
  });
}
---

<aside>
  <section>
    <h4>Recent Posts</h4>
    <ul class="blog-aside">
      {
        nonDraftPosts?.slice(0, maxPosts).map((item) => (
          <li>
            <a href={`/blog/${item.frontmatter.slug}`}>
              <strong>{item.frontmatter.title}</strong>
              <br /> {outputDate(item.frontmatter.pubDate)}
            </a>
          </li>
        ))
      }
    </ul>

    <h4>Tags</h4>
    <ul class="tag-list">
      {
        tagArray?.map((tag) => (
          <li>
            <a href={`/blog/tag/${tag.name.toLowerCase()}`}>{tag.name}</a>
            <span class="tag-badge">
              {tag.count}{" "}
              {(tag.count >= 2 && "Posts") || (tag.count === 1 && "Post")}
            </span>
          </li>
        ))
      }
    </ul>
  </section>
</aside>

<style>
  h4 {
    font-weight: 600;
    margin-bottom: 1rem;
    margin-top: 0;
    border-bottom: 1px solid var(--color-black-lighter);
  }

  ul {
    margin-bottom: 0;
  }

  aside {
    border: 1px solid var(--color-secondary);
    margin-bottom: 2rem;
    border-radius: 0.5rem;
    background-color: var(--color-black-mid-plus);
    /* box-shadow: 0.3rem 0.3rem var(--color-secondary); */
    height: auto;
    padding: 1rem;
  }

  .blog-aside {
    list-style: none;
    padding-left: 0;
    margin-top: 0;
  }

  .blog-aside li a {
    background-image: var(--svg-tri-bg);
    border: 1px solid var(--color-black-lighter);
    color: var(--color-white);
    display: inline-block;
    border-radius: 0.5rem;
    padding: 1rem;
    margin-bottom: 1rem;
    width: 100%;
  }

  .blog-aside li a:hover {
    background-color: var(--color-highlight);
    border: 1px solid var(--color-secondary);
    color: var(--color-white);
    text-decoration: none;
  }

  .tag-list {
    padding-left: 0;
    list-style: none;
  }

  .tag-badge {
    margin-left: 0.3rem;
    width: max-content;
    border-radius: 0.3rem;
    border: 1px solid var(--color-black-lightest);
    padding: 0 0.2rem;
    font-size: small;
    font-weight: 400;
    color: var(--color-white);
  }
</style>
