---
import type { MarkdownLayoutProps } from "astro";

type Props = MarkdownLayoutProps<{
  // Define frontmatter props here
  title: string;
  pubDate: string;
  description: string;
  author: string;
  tags: string[];
  url: string;
  image: Image;
}>;

type Image = {
  url: string;
  alt: string;
};

const { frontmatter } = Astro.props;

const date = new Date(frontmatter.pubDate).toLocaleDateString([], {
  weekday: "long",
  year: "numeric",
  month: "long",
  day: "numeric",
});

const time = new Date(frontmatter.pubDate).toLocaleTimeString([], {
  timeZoneName: "short",
  hour: "2-digit",
  minute: "2-digit",
});
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <link
      rel="canonical"
      href={new URL(frontmatter.url, Astro.site).pathname}
    />
    <title>{frontmatter.title}</title>
  </head>
  <body>
    <h1>{frontmatter.title}</h1>
    <h2>{frontmatter.description}</h2>

    <img
      src={frontmatter.image.url}
      alt={frontmatter.image.alt}
      width="600px"
    />
    <!-- Posted on Tuesday 12 April 2022 @ 08:59 AM UTC by Kaine -->
    <p>Posted on {date} @ {time} by {frontmatter.author}</p>

    {}
    {}

    Tags
    <ul>{frontmatter.tags.map((item) => <li>{item}</li>)}</ul>

    <slot />
  </body>
</html>
<style is:global>
  :root {
    --accent: 124, 58, 237;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      #da62c4 30%,
      white 60%
    );
  }
  html {
    font-family: system-ui, sans-serif;
    background-color: #f6f6f6;
  }
  code {
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
      DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
  }
</style>
